# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'

steps:
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**'
    TargetFolder: '$(Build.SourcesDirectory)/SuperFakturaAPI.NET'
    CleanTargetFolder: true
    OverWrite: true

- task: DeleteFiles@1
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: |
      .gitignore
      Converters
      Exceptions
      Request
      Response
      SuperFakturaAPI.NET.projitems
      SuperFakturaAPI.NET.shproj
      azure-pipelines.yml
      *.cs
      LICENSE
      README.md


- task: CmdLine@2
  displayName: 'SuperFaktura solution'
  inputs:
    script: 'git clone https://birko:$(SUPERFAKTURAGITPASSWORD)@dev.azure.com/birko/SuperFaktura/_git/SuperFaktura'
    workingDirectory: '$(Build.SourcesDirectory)'

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DotNetCoreCLI@2
  displayName: "dotnet build"
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'
    workingDirectory: '$(Build.SourcesDirectory)'

#- task: VSTest@2
#  displayName: "Package test"
#  inputs:
#    testSelector: 'testAssemblies'
#    testAssemblyVer2: |
#      **\bin\$(BuildConfiguration)\**\*test*.dll
#      !**\obj\**
#      !**\xunit.runner.visualstudio.testadapter.dll
#      !**\xunit.runner.visualstudio.dotnetcore.testadapter.dll
#    searchFolder: '$(Build.SourcesDirectory)'
#    runTestsInIsolation: true
#    codeCoverageEnabled: true

- task: DotNetCoreCLI@2
  displayName: "dotnet pack"
  inputs:
    command: 'pack'
    arguments: '--configuration $(buildConfiguration)'
    packagesToPack: '**/*.csproj'
    versioningScheme: byEnvVar
    versionEnvVar: PackageVersion

- task: NuGetCommand@2
  displayName: "nuget push to birko"
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'birko-nuget'